footer.footer
	.footer__navigation
		ul.footer__navigation-list
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 01
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 02
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 03
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 04
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 05
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 06
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 07
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 08
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 09
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 10
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 11
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 12
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 13
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html") Пункт 14

	.footer__navigation.footer__navigation--unstyled
		ul.footer__navigation-list
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Поисковое продвижение сайтов
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Тариф «Новый»
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Тариф «Новый»
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Тариф «Новый»
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Тариф «Новый»
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Тариф «Новый»
			li.footer__navigation-item
				a.footer__navigation-link(href="#some-link.html")
					.
						Тариф «Новый»

	ul.footer__blocks
		li.footer__block
		li.footer__block
			