div.promo
	h2.promo__heading PSD файл с макетом. Макет разбит по слоям и сгрупированн по папкам:
	ul.promo__list
		li.promo__item 
				p.promo__item-text #[strong.promo__title number] - нумерация блоков (номера блоков верстать не нужно)
		li.promo__item
				p.promo__item-text #[strong.promo__title text] - текстовые блоки (шрифт Arial, размер 14 пикселей, межстрочное растояние 22 пикселя)
		li.promo__item
				p.promo__item-text #[strong.promo__title head] - шапка сайта
		li.promo__item
				p.promo__item-text #[strong.promo__title content] - контентная область, которая в свою очередь делится на #[strong left]  и #[strong center]
	p.promo__text Текстовое описание задания и требования.