section.navigation
	h2.navigation__heading Создание сайтов
	ul.navigation__list
		li.navigation__item
			a.navigation__link(href="#") Изготовление сайтов «под ключ»
		li.navigation__item
			a.navigation__link(href="#") Как мы работаем
		li.navigation__item
			a.navigation__link(href="#") Интеграция с amoCrm
		li.navigation__item
			a.navigation__link(href="#") Поддержка сайтов
		li.navigation__item
			a.navigation__link(href="#") Создание сайтов на Wordpress
		li.navigation__item
			a.navigation__link(href="#") Дизайн сайтов
		li.navigation__item
			a.navigation__link(href="#") Редизайн сайтов
		li.navigation__item
			a.navigation__link(href="#") Интернет-магазины
		li.navigation__item
			a.navigation__link(href="#") Создание логотипов
		li.navigation__item
			a.navigation__link(href="#") FAQ