header.header
	.header__wrapper
		ul.header__list
			li.header__item
			li.header__item
			li.header__item
				a.header__text.header__text--number(href="tel:+375293711041")
					.
						+375 (29) 371-10-41
				a.header__text(href="mailto:info@increase.by")
					.
						info@increase.by
				a.header__text(href="#some-address")
					.
						www.increase.by