block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Site author")
    meta(name="description" content="content")
    //- link(rel="icon" href="favicons/32.ico")
    //- link(rel="icon" href="favicons/vector-32.svg" type="image/svg+xml")
    //- link(rel="apple-touch-icon" href="favicons/apple-touch-icon-180.png")
    //- link(rel="manifest" href="manifest.webmanifest")
    link(rel="stylesheet" href="css/styles.css")
    //- link(rel="preload" href="fonts/inter/light.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="fonts/inter/regular.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="fonts/inter/medium.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="fonts/inter/semi-bold.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="fonts/inter/bold.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="fonts/prata/regular.woff2" as="font" type="font/woff2" crossorigin)
    title #{title}
  body
    block content
    block scripts
      script(src="js/main.js")